streamlit==1.47.0
tensorflow==2.19.0
pandas==2.1.4
numpy==1.26.4
matplotlib==3.10.3
scikit-learn==1.7.0
Pillow==11.3.0
opencv-python-headless==4.9.0.80
torch==2.7.1
torchvision==0.22.1
transformers==4.53.2
tqdm==4.67.1
scipy==1.12.0
protobuf==5.29.4
kaggle==1.7.4.5